<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.NdtCourierMapper">

    <resultMap type="NdtCourier" id="NdtCourierResult">
        <result property="id"    column="id"    />
        <result property="courierAccount"    column="courier_account"    />
        <result property="courierName"    column="courier_name"    />
        <result property="phone"    column="phone"    />
        <result property="workStatus"    column="work_status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectNdtCourierVo">
        select id, courier_account, courier_name, phone, work_status, create_by, create_time, update_by, update_time from ndt_courier
    </sql>

    <select id="selectNdtCourierList" parameterType="NdtCourier" resultMap="NdtCourierResult">
        <include refid="selectNdtCourierVo"/>
        <where>
            <if test="courierAccount != null  and courierAccount != ''"> and courier_account = #{courierAccount}</if>
            <if test="courierName != null  and courierName != ''"> and courier_name like concat('%', #{courierName}, '%')</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="workStatus != null "> and work_status = #{workStatus}</if>
        </where>
    </select>

    <select id="selectNdtCourierById" parameterType="Long" resultMap="NdtCourierResult">
        <include refid="selectNdtCourierVo"/>
        where id = #{id}
    </select>

    <insert id="insertNdtCourier" parameterType="NdtCourier" useGeneratedKeys="true" keyProperty="id">
        insert into ndt_courier
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="courierAccount != null and courierAccount != ''">courier_account,</if>
            <if test="courierName != null">courier_name,</if>
            <if test="phone != null">phone,</if>
            <if test="workStatus != null">work_status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="courierAccount != null and courierAccount != ''">#{courierAccount},</if>
            <if test="courierName != null">#{courierName},</if>
            <if test="phone != null">#{phone},</if>
            <if test="workStatus != null">#{workStatus},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateNdtCourier" parameterType="NdtCourier">
        update ndt_courier
        <trim prefix="SET" suffixOverrides=",">
            <if test="courierAccount != null and courierAccount != ''">courier_account = #{courierAccount},</if>
            <if test="courierName != null">courier_name = #{courierName},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="workStatus != null">work_status = #{workStatus},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNdtCourierById" parameterType="Long">
        delete from ndt_courier where id = #{id}
    </delete>

    <delete id="deleteNdtCourierByIds" parameterType="String">
        delete from ndt_courier where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="list"  resultMap="NdtCourierResult">
        <include refid="selectNdtCourierVo"/>
    </select>
</mapper>
