<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.NdtTruckTypeMapper">
    
    <resultMap type="NdtTruckType" id="NdtTruckTypeResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="allowableLoad"    column="allowable_load"    />
        <result property="allowableVolume"    column="allowable_volume"    />
        <result property="measureLong"    column="measure_long"    />
        <result property="measureWidth"    column="measure_width"    />
        <result property="measureHigh"    column="measure_high"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectNdtTruckTypeVo">
        select id, name, allowable_load, allowable_volume, measure_long, measure_width, measure_high, create_by, create_time, update_by, update_time from ndt_truck_type
    </sql>

    <select id="selectNdtTruckTypeList" parameterType="NdtTruckType" resultMap="NdtTruckTypeResult">
        <include refid="selectNdtTruckTypeVo"/>
        <where>
            <if test="id != null  and id != ''"> and id = #{id}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="allowableLoad != null  and allowableLoad != ''"> and allowable_load = #{allowableLoad}</if>
            <if test="allowableVolume != null  and allowableVolume != ''"> and allowable_volume = #{allowableVolume}</if>
            <if test="measureLong != null  and measureLong != ''"> and measure_long = #{measureLong}</if>
            <if test="measureWidth != null "> and measure_width = #{measureWidth}</if>
            <if test="measureHigh != null  and measureHigh != ''"> and measure_high = #{measureHigh}</if>
        </where>
    </select>
    
    <select id="selectNdtTruckTypeById" parameterType="Long" resultMap="NdtTruckTypeResult">
        <include refid="selectNdtTruckTypeVo"/>
        where id = #{id}
    </select>

    <insert id="insertNdtTruckType" parameterType="NdtTruckType">
        insert into ndt_truck_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="allowableLoad != null">allowable_load,</if>
            <if test="allowableVolume != null">allowable_volume,</if>
            <if test="measureLong != null">measure_long,</if>
            <if test="measureWidth != null">measure_width,</if>
            <if test="measureHigh != null">measure_high,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="allowableLoad != null">#{allowableLoad},</if>
            <if test="allowableVolume != null">#{allowableVolume},</if>
            <if test="measureLong != null">#{measureLong},</if>
            <if test="measureWidth != null">#{measureWidth},</if>
            <if test="measureHigh != null">#{measureHigh},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateNdtTruckType" parameterType="NdtTruckType">
        update ndt_truck_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="allowableLoad != null">allowable_load = #{allowableLoad},</if>
            <if test="allowableVolume != null">allowable_volume = #{allowableVolume},</if>
            <if test="measureLong != null">measure_long = #{measureLong},</if>
            <if test="measureWidth != null">measure_width = #{measureWidth},</if>
            <if test="measureHigh != null">measure_high = #{measureHigh},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNdtTruckTypeById" parameterType="Long">
        delete from ndt_truck_type where id = #{id}
    </delete>

    <delete id="deleteNdtTruckTypeByIds" parameterType="String">
        delete from ndt_truck_type where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectNdtTruckTypeByName" parameterType="String" resultMap="NdtTruckTypeResult">
        <include refid="selectNdtTruckTypeVo"/>
        where name = #{name}
    </select>

    <select id="listCheck" resultType="com.ruoyi.system.domain.vo.NdtTruckTypeCheckVo">

        select id,name from ndt_truck_type
    </select>
</mapper>